<%- include('./partials/header') %>
    <div class="w-full h-screen flex items-start px-20 py-20">
        <div class="w-[25%] flex h-screen flex-col items-start">
            <div class="flex flex-col">
                <a class="block w-fit mb-2" href="/seller">All Products</a>
                <a class="block w-fit mb-2" href="/seller/createProducts">Create new product</a>
            </div>
        </div>
        <div class="w-[75%] flex flex-col gap-5 h-screen">

            <button onclick=""><a class="text-red-500" href="/products/deleteAll">Delete all</a></button>
            <div class="flex items-start gap-5 flex-wrap">
                <% products.forEach(function(product){ %>
                    <div class="w-52 mb-5">
                        <div>
                            <img class="h-full" src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
                                alt="product-image">
                        </div>
                        <div
                            class="flex justify-between bg-[<%= product.panelcolor %>] items-center px-4 py-4 text-[<%= product.textcolor %>]">
                            <div>
                                <h3>
                                    <%= product.name %>
                                </h3>
                                <h4>₹ <%= product.price %>
                                </h4>
                            </div>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                href="/products/delete/<%= product._id %>">
                                <i class="ri-delete-bin-line"></i>
                            </a>
                            <a class="w-7 h-7 flex items-center justify-center rounded-full bg-white"
                                href="/products/edit/<%= product._id %>">
                                <i class="ri-pencil-line"></i>
                            </a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>
    </div>
    <%- include('./partials/footer') %>